Java/soap-web-services/src/main/resources/students.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://binlah.com/students" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://binlah.com/students" targetNamespace="http://binlah.com/students">
	<wsdl:types>
		<xs:schema xmlns="http://binlah.com/students" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://binlah.com/students">
			<xs:element name="getStudentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getStudentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="student" type="Student"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Student">
				<xs:sequence>
					<xs:element name="id" type="xs:int"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="courses" type="NameAndValue"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="clubs" type="NameAndValue"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NameAndValue">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="getStudentResponse">
		<wsdl:part element="tns:getStudentResponse" name="getStudentResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getStudentRequest">
		<wsdl:part element="tns:getStudentRequest" name="getStudentRequest">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="StudentPort">
		<wsdl:operation name="getStudent">
			<wsdl:input message="tns:getStudentRequest" name="getStudentRequest">
			</wsdl:input>
			<wsdl:output message="tns:getStudentResponse" name="getStudentResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="StudentPortSoap11" type="tns:StudentPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getStudent">
			<soap:operation soapAction=""/>
			<wsdl:input name="getStudentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getStudentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="StudentPortService">
		<wsdl:port binding="tns:StudentPortSoap11" name="StudentPortSoap11">
			<soap:address location="http://localhost:8080/ws"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>