Java/soap-web-services/src/main/resources/teachers.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://binlah.com/teachers" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://binlah.com/teachers" targetNamespace="http://binlah.com/teachers">
	<wsdl:types>
		<xs:schema xmlns="http://binlah.com/teachers" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://binlah.com/teachers">
			<xs:element name="getTeacherRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getTeacherResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="teacher" type="Teacher"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Teacher">
				<xs:sequence>
					<xs:element name="id" type="xs:int"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="courses" type="NameAndValue"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="rooms" type="NameAndValue"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NameAndValue">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getTeacherResponse">
		<wsdl:part element="tns:getTeacherResponse" name="getTeacherResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getTeacherRequest">
		<wsdl:part element="tns:getTeacherRequest" name="getTeacherRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TeacherPort">
		<wsdl:operation name="getTeacher">
			<wsdl:input message="tns:getTeacherRequest" name="getTeacherRequest">
			</wsdl:input>
			<wsdl:output message="tns:getTeacherResponse" name="getTeacherResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TeacherPortSoap11" type="tns:TeacherPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getTeacher">
			<soap:operation soapAction=""/>
			<wsdl:input name="getTeacherRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getTeacherResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TeacherPortService">
		<wsdl:port binding="tns:TeacherPortSoap11" name="TeacherPortSoap11">
			<soap:address location="http://localhost:8080/ws"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>