PI/xsd/DT_NameAndValue.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="urn:binlah.com:ERP:HR:Personnel" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:binlah.com:ERP:HR:Personnel"><xsd:complexType name="DT_NameAndValue"><xsd:sequence><xsd:element name="name" type="xsd:string"/><xsd:element name="value" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:schema>