PI/xsd/DT_University.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="urn:binlah.com:ERP:HR:Personnel:Async" xmlns="urn:binlah.com:ERP:HR:Personnel:Async" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:complexType name="DT_University"><xsd:sequence><xsd:element name="students" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="id" type="xsd:string"/><xsd:element name="name" type="xsd:string"/><xsd:element name="fee" type="xsd:double"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema>